Judul{
    display: block;
    font-size: 16pt;
    margin-top: 20pt;
    font-weight: bold;
    color: #FF0000;
}
Sutradara{
    display: block;
    font-size: 12pt;
}
Review{
    display: block;
    font-size: 12pt;
    color: #0000FF;
}
Pemain1, Pemain2, Pemain3{
    display: block;
    font-size: 12pt;
    margin-left: 20pt;
}
Studio{
    font-weight: bold;
}